.lead__title {
	margin: 0 auto;
	padding: 0;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 767.98px){
	  .lead__title {
			max-width: 520px;
			font-size: 66px;
			line-height: 80px;
			padding: 0px 16px;
		}
}

@media (max-width: 545px){
	  .lead__title {
      max-width: 420px;
			font-size: 50px;
			line-height: 50px;
		}
}

@media (max-width: 425px){
	.lead__title {
    max-width: 280px;
		font-size: 40px;
		line-height: 44px;
	}
}
